{% extends "layout.html" %}

{% block title %} Game_Gauntlet: Login {% endblock %}

{% block content %}
    <form method="post" action="/register/">{% csrf_token %}
      <br>
      <div class="row">
        <div class="input-field col s12">
          <input id="username" name="username" type="text" class="validate">
          <label for="username">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" name="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <br>
      <input style="margin-left: 1%;" type="submit" value="Enter">
    <form>
{% endblock %}
